<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
  <div id="app" class="container-fluid">
    <div class="row">
      <div class="col p-5">
        <h2 class="text-center">Market Pairs</h2>

        <table class="table table-hover table-sm mt-4">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Coin</th>
              <th>Currency</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(opportunity, index) in market">
              <td>{{ opportunity.symbol }}</td>
              <td>{{ opportunity.coin }}</td>
              <td>{{ opportunity.currency }}</td>
              <td>{{ opportunity.price }}</td> 
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col p-5">
        <h2 class="text-center">Arbitrage Opportunities</h2>

        <table class="table table-hover table-sm mt-4">
          <thead>
            <tr>
              <th>Transactions</th>
              <th>Margin</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(opportunity, index) in opportunities">
              <td>{{ opportunity.key }}</td>
              <td>{{ opportunity._margin }}</td> 
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="application/javascript">
    let data = {
      market: {},
      opportunities: {}
    }

    // Listen to updates
    const socket = new WebSocket(`ws://${window.location.hostname}:8080`)
    socket.onmessage = msg => Object.assign(data, JSON.parse(msg.data))

    // Init app
    let app = new Vue({
      el: '#app',
      data: data
    })
  </script>

</body>
</html>